<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>{{titre}}</title>
</head>

<body>
    <ul>
        {% for etudiant in etudiants %}
            {% if etudiant.nom != "" %}
                <li>{{ etudiant.prénom }} {{ etudiant.nom }}</li>
                <table>
                    <tr>
                        <th colspan="3">Passions de {{ etudiant.prénom }} {{ etudiant.nom }}</th>
                    </tr>
                    <tr>
                        {% for passion in etudiant.passions %}
                        <td>{{ passion }}</td>
                        {% endfor %}
                    </tr>
                </table>

                <table>
                    <tr>
                        <th colspan="2">Notes par modules de {{ etudiant.prénom }} {{ etudiant.nom }}</th>
                    </tr>
                    <tr>
                        <th>Modules</th>
                        <th>Notes</th>
                    </tr>
                    {% for module, note in etudiant.notes.modules %}
                    <tr>
                        <td>{{ module }}</td>
                        <td>{{ note }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <br>
                <br>
            {% endif %}
        {% endfor %}
        
        <p>{{ aime_cinéma }}</p>

    </ul>
</body>

</html>